tr {
    text-align: center;
}

td, th, table {
    border: 2px solid #000;
}

@media screen and (max-width: 320px) {
    th, td {
        font-size: 0.00em;
    }
    table, td, tr {
        width: 8vw;
    }
}

@media screen and (max-width: 1204px) {
    th, td {
        font-size: 0.5em;
    }
    table, td, tr {
        width: 8vw;
    }
}

html, body {
    margin: 0;
    padding: 0;
}

h1, p {
    margin: 0 0 1em
}